:root {
    --primary-color: #fa9e1b;
    --white-color: #fff;
    --violet: #8d4fff;
    --yellow: #fa9e1b;
    --black: #2d2c2c;
    --btn-black: #31124b;
    --bg-header: rgba(54, 19, 84, .6);
    --bg-header-scroll: rgba(54, 19, 84, .85);
    --bg-btn: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
    --bg-section: linear-gradient(to right, #fa9e1b, #8d4fff);
    --offer-color: #eda84a;
    --border: linear-gradient(to right, #fa9e1b, #8d4fff);
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    /* line-height: 1.6rem; */
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    color: #a5a5a5;
    overflow-x: hidden;
}

@font-face {
    font-family: "Beyond";
    src: url("../font/Last\ Beyond.ttf") format("truetype");
}

@keyframes all {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}