/* home */
.container_header {
    background-color: #350A4E;
}

.header_contact {
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 160px;
    align-items: center;
    font-weight: 600;
    font-size: 10px;
    color: var(--white-color);
    height: 36px;
    text-transform: uppercase;
    z-index: 1;
}
.header_links {
    display: flex;
    justify-content: space-around;
}

.phone_number {
    padding-right: 45px;
    
}

.link a {
    color: var(--white-color);
}

.link a i {
    font-weight: 600;
    padding: 0 10px;
}
.link i:hover {
    cursor: pointer;
    color: var(--yellow);
    animation: all 0.3s ease-in;
}

.header_topbar--register {
    display: flex;
    list-style-type: disc;
    color: var(--white-color);
}
.header_topbar--register a {
    color: var(--white-color);
    text-decoration: none;
}

.header_topbar--register a:hover {
    cursor: pointer;
    color: var(--yellow);
    animation: all 0.3s ease-in;
}

.header_topbar--register a li {
    list-style: none;
}

.header_topbar--space {
    padding: 0 10px;
}



/* header 2 */
.home {
    height: 106px;
    font-size: 14px;
    font-weight: 600;
    color: var(--white-color);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../img/news.jpg);
}
.navbar_icon {
    display: none;
}
.header_navbar {
    display: flex;
    justify-content: space-around;
    line-height: 104px;
    text-transform: uppercase;
    padding: 0 16px;
    margin: 0 auto;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100px;
    background: rgba(54, 19, 84, .6);
}

.header_navbar--logo a {
    color: var(--white-color);
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
}

.navbar_items--list {
    display: flex;
    list-style: none;
}

.header_navbar--item {
    padding: 0 20px;
}
.header_navbar--item:hover {
    cursor: pointer;
}
.home_title h1{
    font-size: 72px;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 5px 2px 5px rgb(141, 141, 141);
}
.navbar_items--list a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 500;
}

.navbar_items--list li a::after {
    display: block;
    position: relative;
    top: -40px;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    content: '';
    opacity: 0;
    transition: all 300ms ease;
}


.navbar_items--list li a:hover::after {
    opacity: 1;
}

.navbar_logo i {
    color: var(--white-color);
    font-size: 18px;
    transform: rotate(90deg);
    cursor: pointer;
    font-weight: 800;
}

 .navbar_search--input {
    height: 40px;
    width: 278px;
    position: absolute;
    border: none;
    outline: none;
    left: 1052px;
    top: 92px;
    margin-top: 18px;
    padding-left: 15px;
    border-radius: 5px;
    transition: all .5s ease;
    transform: translateY(50%);
    box-shadow: 0 8px 20px rgb(0 0 0 / 15%);
    border-radius: 7px;
    display: none;
}

.navbar_logo i:hover {
    color: var(--yellow);
}

.home_title {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
}

.home_title h1 {
    font-size: 72px;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 800;
}

.info_tour {
    display: flex;
    justify-content: center;
    padding: 90px 150px 90px 200px;
    align-items: center;
    background-color: #f6f9fb;
}

.info_tour--title h1 {
    color: var(--black);
    margin-bottom: 36px;
    text-transform: uppercase;
    font-size: 30px;
}

.info_tour--text p {
    font-weight: 545;
    color: #929191;
    margin-top: 60px;
    line-height: 2;
    text-align: justify;
}


.news_container{
    display: grid;
    justify-content: center;
    grid-template-columns: 828px 390px;
    grid-template-rows: 440px 360px 352px 460px 280px;
    margin: 70px auto;
}
.news_container--line_one{
    grid-column: 1/2;
    grid-row: 1/2;
 
    /* margin-bottom: 20px; */
}
.news_line_one--content{
    grid-column: 2/3;
    grid-row: 1/2;
}

.news_content--search {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    top: 20%;
    right: 10%;
    transform: rotate(90deg);
    font-size: 2.2rem;
    color: var(--yellow);
}

.fa-magnifying-glass:hover {
    color: var(--black);
    cursor: pointer;
}

.news_container--line_two{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 50px;
}
.news_line__two_content{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 40px;
}  
.news_line__two_content span{
    display: block;
    font-size: 18px;
    color: var(--black);
    font-weight: 700;
    margin-bottom: 25px;
}
.news_line__two_content ul li{
    list-style: none;
    padding: 10px 0;
}  
.news_line__two_content ul li a{
    color: rgb(146, 145, 145);
    font-weight: 600;
    text-decoration: none;
}  
.news_line_two--more_infor {
    margin-top: 30px;
}
.news_line_two--more_infor:hover{
    cursor: pointer;
}
.news_line_two--more_infor span{
    color: var(--yellow) !important;
    display: block;
    margin-top: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.news_container--line_three{
    grid-column: 1/2;
    grid-row: 3/4;

    margin-top: 40px;
}  
.news_container--line_four{
    grid-column: 1/2;
    grid-row: 4/5;
    margin-top: 50px;
}    
.news_line__four_content{
    display: block;
    font-size: 14px;
    color: var(--black);
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 50px;
}
.news_line__four_content span{
    display: block;
    font-size: 18px;
    color: var(--black);
    font-weight: 700;
    margin-bottom: 25px;
}
.news_line__four_content ul li{
    list-style: none;
    padding: 10px 0;
}  
.news_line__four_content ul li a{
    color: rgb(146, 145, 145);
    font-weight: 600;
    text-decoration: none;
}  
.news_container--line_five{
    grid-column: 1/2;
    grid-row: 5/6;
    margin: 80px 0px;
  
}
.news_line_one--pic1{
    position: relative;
}
.news_pic1--icon_time{
    position: absolute;
    top: 10px;
    left: 24px;
    width: 95px;
    height: 95px;
    background-color: var(--yellow);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}
.news_pic1--icon_time span:first-child{
    margin-top: -10px;
    font-size: 28px;
    font-weight: 700;
    
}
.news_line_one--pic1 img{
    width: 800px;
}
.news_content--item{
    margin-top: 50px;
}
.news_content--item ul{
    list-style: none;
    font-weight: 600;
    padding: 10px 0;
}
.news_content--item ul li{
    margin-top: 35px;
}
.news_line_one--content input{
    width: 95%;
    height: 44px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 2px solid rgb(230, 231, 244);
    outline: none;
}

.news_line_one--content span{
    font-size: 18px;
    color: var(--black);
    font-weight: 700;
    padding-top: 50px ;
}
.news_line_two--link ul li {
    list-style: none;
    display: inline-block;
    font-weight: 600;
    transition: all .3s linear;
}

.news_line_two--link a {
    color: rgb(146, 145, 145);
    text-decoration: none;
}
.news_line_two--link a:hover{
    color: var(--black);
}
.news_line_two--header_link a{
    display: block;
    font-size: 24px;
    color: var(--black) !important;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 25px;
    text-decoration: none;
}
.news_line__three_content{
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 40px;
}
.news_line__three_content span{
    display: block;
    font-size: 18px;
    color: var(--black);
    font-weight: 700;
    margin-bottom: 25px;
    
}
.news_line_three_pics{
    display: flex;
    flex-direction: column;
}
.news_line_three_pic{
    display: flex;
}
.news_line_three_pic img{
    width: 124px;
    height: 124px;
    margin: 5px 5px;
}
.news_line_two--descreption{
    display:flex;
    width: 800px;
}

.news_line_two--descreption p{
    line-height: 2;
    text-align: justify;
}
/* footer */
.footer {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 20px;
    background: #31124b;
}

.container_footer {
    display: flex;
    justify-content: space-evenly;
}

.container_footer--title {
    text-decoration: none;
}

.container_footer--info,
.footer_blog,
.footer_tag,
.footer_contact {
    max-width: 25%;
}

.footer_info--title,
.footer_blog--title,
.footer_tag--title,
.footer_contact--title {
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 42px;
}

.footer_info--title {
    font-size: 30px;
    font-weight: 800;
}

.footer_blog--title,
.footer_tag--title,
.footer_contact--title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 58px;
    margin-top: 28px;
}

.footer_info--text {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 2;
    margin-bottom: 16px;
    margin-left: 16px;
}

.footer_info--link {
    list-style: none;
    display: flex;
    margin-left: 16px;
}

.footer_info--link_items {
    display: inline-block;
    width: 31px;
    height: 31px;
    border: solid 1px #fa9e1b;
    border-radius: 50%;
    text-align: center;
    transition: all 200ms ease;
    margin-right: 9px;
    cursor: pointer;
}

.footer_info--link_items:hover {
    background-color: var(--yellow);
}

.footer_info--link_items:hover a i {
    color: var(--black);
}

.footer_info--link_items a {
    color: var(--white-color);
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
}


.footer_info--link_items a i {
    display: block;
    position: relative;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    transition: all 200ms ease;
}

.footer_blog--items {
    display: flex;
    margin-bottom: 20px;
}

.footer_blog--items_img {
    margin-right: 18px;
}

.footer_blog--items_info a {
    color: var(--white-color);
    text-decoration: none;
}

.footer_blog--items_info a p {
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}

.footer_blog--items_info a p:hover {
    color: var(--yellow);
}

.footer_blog--date {
    font-size: 12px;
    font-weight: 400;
    color: var(--yellow);
    margin-top: 7px;
    display: block;
}

.footer_tag--content {
    width: 230px;
}

.tag_content--item {
    list-style: none;
    height: 35px;
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 9px;
    border: solid 1px #fa9e1b;
    transition: all 200ms ease;
}

.tag_content--item:hover {
    background-color: var(--yellow);
}

.tag_content--item a {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    line-height: 33px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
}

.footer_contact--items {
    color: #fff;
    line-height: 2.14;
    margin-top: -4px;
    cursor: pointer;
    text-decoration: none;
}

.footer_contact--items:hover {
    color: var(--yellow);
}

.footer_contact--items p {
    margin-bottom: 18px;
}

.coppyright {
    text-align: center;
    display: block;
    margin-top: 35px;
    color: rgb(202, 202, 202);
    font-weight: 700;
}

.coppyright a {
    color: var(--yellow);
    text-decoration: none;
}

/* Ipad pro */
@media (max-width: 740px){
    .header_navbar--search {
        top: -8px;
    }
}

