.container_header {
    background-color: #350A4E;
}

.header_contact {
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 160px;
    align-items: center;
    font-weight: 600;
    font-size: 10px;
    color: var(--white-color);
    height: 36px;
    text-transform: uppercase;
    /* z-index: 1; */
}
.header_links {
    display: flex;
    justify-content: space-around;
}

.phone_number {
    padding-right: 45px;
    
}

.link a {
    color: var(--white-color);
}

.link a i {
    font-weight: 600;
    padding: 0 10px;
}
.link i:hover {
    cursor: pointer;
    color: var(--yellow);
    /* animation: all 0.3s ease-in; */
}

.header_topbar--register {
    display: flex;
    list-style-type: disc;
    color: var(--white-color);
}
.header_topbar--register a {
    color: var(--white-color);
    text-decoration: none;
}

.header_topbar--register a:hover {
    cursor: pointer;
    color: var(--yellow);
    /* animation: all 0.3s ease-in; */
}

.header_topbar--register a li {
    list-style: none;
}

.header_topbar--space {
    padding: 0 10px;
}

/* header 2 */

.home {
    position: relative;
    height: 106px;
    font-size: 14px;
    font-weight: 600;
    color: var(--white-color);
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(rgba(64, 6, 97, 0.4), rgba(64, 6, 97, 0.4)), url(../img/Turkey-Turkish-Cappadocia-hot-air-balloons-1149868-wallhere.com.jpg);
    margin-bottom: 170px;
}

.navbar_icon {
    display: none;
}
.header_navbar {
    display: flex;
    justify-content: space-around;
    line-height: 104px;
    text-transform: uppercase;
    padding: 0 16px;
    margin: 0 auto;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100px;
    background: rgba(54, 19, 84, .85);
}

.header_navbar--logo a {
    color: var(--white-color);
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
}

.navbar_items--list {
    display: flex;
    list-style: none;
}

.header_navbar--item {
    padding: 0 20px;
}
.header_navbar--item:hover {
    cursor: pointer;
}

.navbar_items--list a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 500;
}

.navbar_items--list li a::after {
    display: block;
    position: relative;
    top: -40px;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    content: '';
    opacity: 0;
    transition: all 300ms ease;
}


.navbar_items--list li a:hover::after {
    opacity: 1;
}

.navbar_logo i {
    color: var(--white-color);
    font-size: 18px;
    transform: rotate(90deg);
    cursor: pointer;
    font-weight: 800;
}

 .navbar_search--input {
    height: 40px;
    width: 278px;
    position: absolute;
    border: none;
    outline: none;
    left: 1052px;
    top: 92px;
    margin-top: 18px;
    padding-left: 15px;
    border-radius: 5px;
    transition: all .5s ease;
    transform: translateY(50%);
    box-shadow: 0 8px 20px rgb(0 0 0 / 15%);
    border-radius: 7px;
    display: none;
}

.navbar_logo i:hover {
    color: var(--yellow);
}

.home_title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.home_title h1 {
    font-size: 72px;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 800;
}

/* Homne */
.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
    width: 100%;
    margin-left: 1px;
    padding: 0 100px;
    /* margin-top: 70px; */
    position: absolute;
    top: 70%;
}
.option_list-item {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: var(--white-color);
    transition: all .3s ease;
    color: var(--black);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    flex-grow: 1;
    justify-content: center;
}

.option_list-item:hover{
    background-color: var(--yellow);
}

.option_list-item:hover a {
    color: var(--white-color);
}

.option_list-item:hover img {
    color: var(--white-color);
    filter: brightness(200%) grayscale(100%);
}

.option_list-item:first-child {
    border-top-left-radius: 94px;
    padding-left: 7px;
}

.option_list-item:last-child {
    border-top-right-radius: 94px;
    padding-left: 7px;
}

.option_list-item img {
    margin-right: 10px;
}

.option_item--link {
    text-decoration: none;
    color: var(--black);
}
.background_search {
    background: var(--bg-section);
    height: 320px;
    width: 100%;
    align-items: center;
    position: absolute;
    top: 80%;
}


.background_search--input {
    display: flex;
    justify-content: center;
    margin: 26px 0 46px;
}

.search_item {
    padding-left: 16px;
}

.search_item input {
    height: 46px;
    border: none;
    outline: none;
    /* width: 100%; */
    font-size: 13px;
    font-weight: 600;
    color: #929191;
    padding: 15px;
}

.search_item--destination {
    width: 394px;
}

.search_item--input {
    width: 190px;
}

.search_item a {
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 10px;
}



.select_adults,
.select_children {
    width: 88px;
    height: 48px;
    padding: 0 10px;
    cursor: pointer;
    border: none;
    outline: none;
}

.background_search--btn {

}

.search_btn-checkbox {
    display: flex;
    justify-content: space-around;
    margin: 0 160px ;
}

.search_checkbox--list {
    margin: 20px 0;
    font-size: 1.4rem;
    display: flex;
    text-align: center;
}

.search_checkbox--list input {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: var(--white-color) 2px solid;
    cursor: pointer;
}

.search_checkbox--list input:checked::after {
    display: block;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    content: "";
    background: rgb(250, 158, 27);
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2px;
    border: var(--white-color) 2px solid;
    outline: none;
}

.search_item--btn {
    height: 52px;
    width: 208px;
    background-color: var(--btn-black);
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 52px;
    line-height: 52px;
    margin-top: 14px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    margin-left: 1090px;
}

.search_item--btn:hover {
    background-color: var(--yellow);
}

.search_item--btn a {
    text-decoration: none;
}

.search_item--btn span {
    display: inline-block;
    vertical-align: middle;
    width: 5.75px;
    height: 5.63px;
    background: #fff;
    border-radius: 50%;
    margin-right: 2px;
    margin-top: 1%;
}

.search_item--btn span:nth-child(3) {
    opacity: .6;
    margin-left: 0;
}

.search_item--btn span:last-child {
    opacity: .4;
    margin-left: 0;
    margin-right: 0;
}

/* Hotels Sort */

.hotels_sort {
    padding: 92px 148px;
}

.hotels_sort--navbar select {
    height: 50px;
    border: 2px solid rgb(218, 218, 218);
    font-size: 12px;
    font-weight: 700;
    color: rgb(45, 44, 44);
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 27px;
}

.hotels_sort--navbar {
    display: flex;
    justify-content: flex-start;
}

.sort_navbar--list {
    margin-right: 30px;
}

.hotel_container--list {
    padding-top: 70px;
    display: flex;
}

.hotels_container--picture {
    margin-right: 16px;
    position: relative;
}

.hotels_picture--img img {
    height: 244px;
    width: 408px;
}

.hotels_picture--title {
    position: absolute;
    top: 70%;
    background-color: var(--yellow);
    padding: 0 22px;
}

.hotels_picture--title:hover {
    opacity: 0.85;
}

.hotels_picture--title a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 35px;
    text-decoration: none;
}

.hotels_info--title {
    position: relative;
    display: flex;
    align-items: center;
}

.info_title--price_number {
    display: flex;
    align-items: flex-end;
}

.info_title--price_number h1 {
    padding-right: 10px;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    color: #eda84a;
    line-height: 25px;
}

.info_title--price_number span {
    font-size: 14px;
    font-weight: 400;
    color: #929191;
    margin-left: 5px;
}

/* Color stars */
.info_title--stars {
    color: var(--yellow);
    padding: 10px 0;
    font-size: 18px;
}

.info_title--stars i:first-child {
    color: #ffeb8d; 
}
/* #fed46b */

.info_title--stars i:nth-child(2){
    color: #fed46b; 
}
.info_title--stars i:nth-child(3){
    color: #fbb53d; 
}

.info_title--stars i:nth-child(5){
    color: #a5a5a5; 
}

.info_title_rate {
    position: absolute;
    right: 3%;
    top: 0;
    display: flex;
    align-items: center;
}

.info_rate--title h1  {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--black);
}

.info_rate--title p  {
    font-weight: 600;
}

.info_rate--number span {
    color: var(--white-color);
    font-size: 28px;
    font-weight: 700;
    background-color: var(--yellow);
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: default;
}

.info_sub {
    font-size: 14px;
    font-weight: 400;
    color: #929191;
    margin: 16px 0;
    line-height: 2;
}

.info_icon img {
    padding-right: 15px;
}

.hotels_btn {
    margin-left: 590px;
}

/* Footer */
.footer {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 20px;
    background: #31124b;
}

.container_footer {
    display: flex;
    justify-content: space-evenly;
}

.container_footer--title {
    text-decoration: none;
}

.container_footer--info,
.footer_blog,
.footer_tag,
.footer_contact {
    max-width: 25%;
}

.footer_info--title,
.footer_blog--title,
.footer_tag--title,
.footer_contact--title {
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 42px;
}

.footer_info--title {
    font-size: 30px;
    font-weight: 800;
}

.footer_blog--title,
.footer_tag--title,
.footer_contact--title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 58px;
    margin-top: 28px;
}

.footer_info--text {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 2;
    margin-bottom: 16px;
    margin-left: 16px;
}

.footer_info--link {
    list-style: none;
    display: flex;
    margin-left: 16px;
}

.footer_info--link_items {
    display: inline-block;
    width: 31px;
    height: 31px;
    border: solid 1px #fa9e1b;
    border-radius: 50%;
    text-align: center;
    transition: all 200ms ease;
    margin-right: 9px;
    cursor: pointer;
}

.footer_info--link_items:hover {
    background-color: var(--yellow);
}

.footer_info--link_items:hover a i {
    color: var(--black);
}

.footer_info--link_items a {
    color: var(--white-color);
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
}


.footer_info--link_items a i {
    display: block;
    position: relative;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    transition: all 200ms ease;
}

.footer_blog--items {
    display: flex;
    margin-bottom: 20px;
    /* align-items: center; */
}

.footer_blog--items_img {
    margin-right: 18px;
}

.footer_blog--items_info a {
    color: var(--white-color);
    text-decoration: none;
}

.footer_blog--items_info a p {
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}

.footer_blog--items_info a p:hover {
    color: var(--yellow);
}

.footer_blog--date {
    font-size: 12px;
    font-weight: 400;
    color: var(--yellow);
    margin-top: 7px;
    display: block;
}

.footer_tag--content {
    width: 230px;
}

.tag_content--item {
    list-style: none;
    height: 35px;
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 9px;
    border: solid 1px #fa9e1b;
    transition: all 200ms ease;
}

.tag_content--item:hover {
    background-color: var(--yellow);
}

.tag_content--item a {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    line-height: 33px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
}

.footer_contact--items {
    color: #fff;
    line-height: 2.14;
    margin-top: -4px;
    cursor: pointer;
    text-decoration: none;
}

.footer_contact--items:hover {
    color: var(--yellow);
}

.footer_contact--items p {
    margin-bottom: 18px;
}

.coppyright {
    text-align: center;
    display: block;
    margin-top: 35px;
    color: rgb(202, 202, 202);
    font-weight: 700;
}

.coppyright a {
    color: var(--yellow);
    text-decoration: none;
}
/* Ipad */
@media (min-width: 740px) and (max-width: 1023px){
    .option{
        margin-left: -42px !important;
        top: 100px !important;
        width: 112% !important ;
        flex-wrap: wrap;
        height: 60px !important;
        margin-top: 750px !important;
        z-index: 2;
    }

    .option_list-item {
        flex: 48% !important;
        margin: 5px;
    }
   
    .search_item{
        margin-top: 50px;
    }
    .background_search {
        height: 800px !important;
    }
}
/* Iphone */
@media (max-width: 740px){
    .header_navbar {
        z-index: 2;
    }
    .option {
        z-index: 1;
    }
    .background_search {
        padding-top: 600px;
    }
    .background_search {
        padding-top: 500px;
    }
    .background_search--input{
        display: flex;
        flex-wrap: wrap;
    }
    .background_search {
        height: 1250px !important;
    }
    .search_item--btn {
        height: 40px;
        width: 150px;
        margin-left: 190px;
    }
    .search_checkbox--list{
        font-size: 1.2rem;
        flex: 50%;
    }
    .search_btn-checkbox{
        flex-direction: column;
    }
    .btn_checkbox--items{
        display: flex;
    }
    .search_btn-checkbox {
        margin: 0px 20px;
    }
    .search_item--btn {
        margin-left: 160px;
    }

}